{
  "addons": {
    "zotcard@zotero.org": {
      "updates": [
        {
          "version": "3.0.6",
          "update_link": "https://github.com/018/zotcard/releases/latest/download/zotcard-3.0.1.xpi",
          "update_hash": "sha256:e5ac442c4a3cffc4ffec8b764673b7036d5984690978faa7df66d78b030761c2",
          "applications": {
            "zotero": {
              "strict_min_version": "6.999"
            }
          }
        }
      ]
    }
  }
}
