:root {
    --el-menu-item-height: 50px;
}

.vcenter {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hcenter {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
